<p id="notice"><%= notice %></p>
<h2>Name</h2>
<%= @user.name %>
<h2>Age</h2>
<%= @user.age %>
</br>
<%= link_to 'Edit', edit_customers_user_path(@user) %> |
<%= link_to 'Back', customers_users_path %>
